@import 'tailwindcss';
@import '@fontsource-variable/inter';

:root{
  interpolate-size: allow-keywords;
  --color-background:oklch(21% 0.034 264.665);
}

*,
*::before,
*::after{
  box-sizing:border-box;
}

html {
  font-family: 'Inter Variable', sans-serif;
  font-size:16px;
}

html,
body{
  margin:0;
  padding:0;
}

body{
  line-height:1.5;
  letter-spacing:0.0375rem;
}

#root{
  min-height:100svh;
  padding-block:4rem 1.5rem;
}

h1,h2,h3,h4,h5,h6{
  margin-block:.5rem;
  font-weight:700;
}

h1{
  font-size:3rem;
}

h2{
  font-size:2.85rem;
}

h3{
  font-size:2.7rem;
}

h4{
  font-size:2.55rem;
}

h5{
  font-size:2.4rem;
}

h6{
  font-size:2.35rem;
}

a {
  display: inline-flex;
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-weight:600;

  &:after {
    content: "";
    display: flex;
    width: .25rem;
    height: .25rem;
    border-radius: .15rem;
    background-color: rgba(255, 255, 246, .1);
    margin-inline:auto;
    transition: background-color .125s ease-in-out;
  }

  &:hover:after {
    background-color: rgba(255, 255, 246, .5);
  }

   &:is(.current-link):after{
    background-color: rgba(255, 255, 246, 1);
   }
}

section{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  gap:.75rem;
}

.sort-icon{
  width:max-content;
  display:block;
  margin-inline:auto;
}

th{
  cursor:pointer;

  &:before{
    content:"";
    display:flex;
    width:.3rem;
    height:.3rem;
    background-color:rgba(255,255,255,.2);
    border-radius:50%;
    margin-inline:auto;
    margin-block:0 .25rem;
    transition:background-color .125s ease-out;
  }

  &:hover:before{
    background-color:rgba(255,255,255,1);
  }
}