@import 'tailwindcss';
@import '@fontsource-variable/inter';

:root{
  interpolate-size: allow-keywords;
  --color-background:oklch(21% 0.034 264.665);
}

*,
*::before,
*::after{
  box-sizing:border-box;
}

html {
  font-family: 'Inter Variable', sans-serif;
  font-size:16px;
}

html,
body{
  margin:0;
  padding:0;
}

#root{
  min-height:100svh;
  padding-block:4rem 1.5rem;
}